<link id="theme-style" rel="stylesheet" href="{{url_for('static',filename='css/template2.css')}}">



{% if resume.template_theme %}

<script>
	document.addEventListener("DOMContentLoaded", function () {
		document.documentElement.style.setProperty('--template-bg-color', '{{ resume.template_theme }}');
	});
</script>

{% endif %}
<div class="resume-wrapper-inner mx-auto text-left bg-white ">
	<header class="resume-header pt-4 pt-md-0">

		{% if resume.image_file_path %}
		<div class="profile-div">
			<img id="pv-profile-img" src="{{ url_for('static', filename=resume.image_file_path) }}" alt="image"
				width="220" height="220">
		</div>
		{% endif %}


		<div class="primary-info">
			<h1 id="pv-username" class="name mt-0 mb-1 text-white text-uppercase text-uppercase">
				{{resume.username }}

			</h1>
			<div id="pv-profession" class="title mb-3">{{ resume.profession.title() }}</div>
			<ul class="list-unstyled">
				<li class="mb-2">
					<i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i><a
						href="mailto:{{resume.email }}">Email: <span id="pv-email">{{
							resume.email }} </span> </a>
				</li>
				<li class="mb-2"><a><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>Phone: <span
							id="pv-phone">{{
							resume.phone }}</span></a></li>

				<li class="mb-2"><a><i class="fas  fa-map-marked-alt fa-fw mr-2"
							data-fa-transform="grow-6"></i>Location:
						<span id="pv-city">{{ resume.address.city }}</span>, <span id="pv-country">{{
							resume.address.country }}</span></a>
				</li>
			</ul>

		</div>


		<div class="secondary-info mt-2">
			<ul id="social-media-list" class="resume-social list-unstyled">
				{% if resume.social_media %}
				{% for social_media in resume.social_media %}
				{% set media_name = social_media['name'].value.lower() %}
				<li id="{{media_name}}-item" class="mb-3">
					<a href="{{ social_media['link'] }}">
						<span class="fa-container text-center mr-2">
							{% if media_name == 'portfolio' %}
							<i class="fas fa-globe"></i>
							{% else %}
							<i class="fab fa-{{ social_media['name'].value.lower() }}"></i>

							{% endif %}
						</span>
						{{ social_media["link"] }}
					</a>
				</li>
				{% endfor %}
				{% endif %}

			</ul>
		</div>

	</header>
	<div class="resume-body p-5">
		<section class="resume-section summary-section mb-5">
			<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Summary</h2>
			<div class="resume-section-content">
				<p id="pv-summary" class="mb-0">{{resume.summary}} </p>
			</div>
		</section>
		<div class="row">
			<div class="template-2-col-lg-9" style="display: flex;gap: 50px;">
				<section class="resume-section experience-section mb-5">
					<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Work Experience
					</h2>
					<div class="resume-section-content">
						<div id="work-experience-parent" class="resume-timeline position-relative">
							{% for experience in resume.work_experiences %}
							<article class="resume-timeline-item position-relative pb-5">

								<div class="resume-timeline-item-header mb-2">
									<div class="d-flex flex-column flex-md-row">
										<h3 class="resume-position-title font-weight-bold mb-1">{{
											experience.position }}</h3>
										<div class="resume-company-name ml-auto">
											{{ experience.company_name }}</div>
									</div>
									<div class="resume-position-time">
										{% if experience.start_date %}{{ experience.start_date.strftime('%B %Y')
										}}{% endif %}
										-
										{% if experience.is_working %}
										Present
										{% else %}
										{% if experience.end_date %}{{ experience.end_date.strftime('%B %Y')
										}}{% else %}N/A{% endif %}
										{% endif %}

									</div>
								</div>
								<div class="resume-timeline-item-desc">
									<ul id="work-achievements">
										{{ experience.achievement | replace_newlines | safe }}
									</ul>
								</div>

							</article>
							{% endfor %}
						</div>
					</div>
				</section>

				<section class="resume-section education-section mb-5">
					<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
					<div class="resume-section-content">
						<ul id="education-list" class="list-unstyled">
							{% for education in resume.educations %}
							<li class="mb-2">
								<div class="resume-degree font-weight-bold">{{ education.degree }}</div>
								<div class="resume-degree-org">{{ education.name }}</div>
								<div class="resume-degree-time">
									{% if education.start_date %}{{
									education.start_date.strftime('%B %Y') }}{% endif %}
									-
									{% if education.is_studying %}
									Attending
									{% else %}
									{% if education.end_date %}{{ education.end_date.strftime('%B %Y') }}{% else
									%}N/A{% endif %}
									{% endif %}
								</div>
							</li>
							{% endfor %}

						</ul>
					</div>

					{% if resume.languages|length > 0 %}
					<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">I Can Speak
					</h2>
					<div class="resume-section-content">
						<ul id="language-list" class="list-unstyled resume-lang-list">

							{% for language in resume.languages %}
							<li class="mb-2"><span class="resume-lang-name font-weight-bold">{{language["name"]}}</span>
								<small class="text-muted font-weight-normal">({{language["fluent_level"]}})</small>
							</li>
							{% endfor %}

						</ul>
					</div>

					{% endif %}
				</section>
			</div>


			<div class="template-2-col-lg-3">
				<section class="resume-section skills-section mb-5">
					<h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills</h2>
					<div class="resume-section-content">
						<div class="resume-skill-item">
							<h4 class="resume-skills-cat font-weight-bold">Hard Skills</h4>
							<ul id="skill-list" class="list-unstyled mb-4">
								{% set proficiency_levels = {
								'BEGINNER': 25,
								'INTERMEDIATE': 50,
								'PROFICIENT': 75,
								'EXPERT': 100
								} %}
								{% for skill in resume.skills %}
								<li class="mb-2">
									<div class="resume-skill-name">{{ skill.name }} <span
											class="resume-skill-proficiency">{{ skill.proficiency.name.title()
											}}</span>
									</div>
									<div class="progress resume-progress">
										<div class="progress-bar" class="progress-bar theme-progress-bar-dark"
											role="progressbar"
											aria-valuenow="{{ proficiency_levels[skill.proficiency.name] }}"
											aria-valuemin="0" aria-valuemax="100">
										</div>
									</div>
								</li>
								{% endfor %}

							</ul>
						</div>

					</div>
				</section>



			</div>
		</div>
	</div>
</div>
<!-- </article> -->

<script>
	(function () {
		const progressBars = document.getElementsByClassName('progress-bar');
		Array.from(progressBars).forEach(progressBar => {
			const valueNow = progressBar.getAttribute('aria-valuenow');
			progressBar.style.width = valueNow + '%';
		});
	})();
</script>