 #edu-section {
     height: 100vh;
     display: flex;
     padding: 20px;
     gap: 80px;
     overflow: hidden;
 }

 #edu-forms-container {
     max-height: 60vh;
     overflow-y: auto;
     width: 700px;
     padding: 20px;
     margin: 20px auto;
     box-sizing: border-box;
 }


 .edu-form {
     margin: 30px 0;
     display: grid;
     grid-template-columns: repeat(2, 320px);
     width: 100%;
     /* padding: 20px 15px;
     border-radius: 15px;
     box-shadow: 3px 5px 5px 2px #b5a7a7; */
 }

 .edu-form>div {
     min-height: 75px;
 }

 .edu-form input {
     padding: 5px 10px;
 }

 .edu-form input[type="text"],
 .edu-form input[type="tel"],
 .edu-form input[type="email"] {
     width: 300px;
     height: 30px;
     display: block;
 }


 .edu-form .location-div {
     grid-column: span 2;
 }

 .edu-form .location-div input[type="text"] {
     width: 620px;
 }

 .edu-form .date-div {
     grid-column: span 2;
     min-height: 50px;
 }

 .edu-form .date-div>div {
     display: inline-block;
     margin: 5px 20px 5px 0;
 }

 .edu-form .date-div input[type="date"] {
     width: 150px;
 }

 .edu-form-wrapper {
     margin-bottom: 20px;
     position: relative;
         padding: 10px 15px;
    border-radius: 15px;
 box-shadow: 3px 5px 5px 2px #b5a7a7
 }

 #education-preview{
    transform-origin: top left;
}

.date-div{
    font-size: .8rem;
}