:root {
    --primary-color: #0003b9;
    --secondary-color: #28e7b8;
    --highlight-color: #2196f3;
    --danger-color: #ff4d4d;
    --input-width: 330px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #f4f4f4;
    line-height: 1.6;

}

button {
    cursor: pointer;
}

/* Removing the default behavior of HTML input blur when user put their cursor */
form input:focus {
    outline: none;
    border-width: 2px;
}

form input {
    border-radius: 5px;
    border-width: .5px;
}

/* Used from
 https://stackoverflow.com/questions/69958117/how-to-change-checkbox-background-color-in-simple-html 
 (Jun 25, 2022, AlThePal78)*/
input[type="checkbox"] {
    accent-color: var(--primary-color);
}

/* COLOR styles */

.highlight-text {
    color: var(--highlight-color);
}

.primary-btn {
    background-color: var(--primary-color);
    color: white
}

.primary-btn:hover {
    background-color: var(--highlight-color);
    color: black;
}

.white-bg {
    background-color: rgb(255, 255, 255);
}

.grey-bg {
    background-color: rgb(145, 142, 142);
}

.crimson-bg {
    background-color: rgb(187, 0, 47);
}

.purple-bg {
    background-color: rgb(137, 0, 179);
}

.blue-bg {
    background-color: #0003b9;
}

.black-bg {
    background-color: #352e2e;
}

.dark-green-bg {
    background-color: #01502f;
}

.yellow-bg {
    background-color: #e9de4b;
}

/* Generic button styles */
#add-another-btn {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-style: dotted;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--primary-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#add-another-btn i {
    color: var(--primary-color);
    font-size: 1.5rem;
}

#next-btn {
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}

.form-btn-div {

    display: flex;
    gap: 50px;
    margin: 50px 0;
}

.previous-btn {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #e9e9ed;
    border-radius: 5px;
    border: .5px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
}


.remove-form-btn {
    visibility: hidden;
    width: 200px;
    background-color: var(--danger-color);
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    /* For Smooth transition */
    transition: visibility 0.6s, opacity .7s;
    opacity: 0;
}

.showed-remove-btn {
    visibility: visible;
    opacity: 1;

}

.remove-form-btn:hover {
    background-color: #aa2121;
}

/* Fade out animation (used in remove button of resume' sections forms */
.fade-out {
    animation: fadeOut 0.3s ease-out;
    opacity: 0;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}