:root {
    --primary-color: #0003b9;
    --secondary-color: #28e7b8;
    --highlight-color: #26a0f4;
    --danger-color: #ff4d4d;
    --warn-color: rgb(230, 103, 0);
    --input-width: 330px;
    --template-bg-color: #ffffff;
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
    --alert-box-duration: 3.5s;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #f4f4f4;
    line-height: 1.6;

}

button {
    cursor: pointer;
}

/* Removing the default behavior of HTML input blur when user put their cursor */
form input:focus {
    outline: none;
    border-width: 2px;
}

form input {
    border-radius: 5px;
    border-width: .5px;
}

/* Used from
 https://stackoverflow.com/questions/69958117/how-to-change-checkbox-background-color-in-simple-html 
 (Jun 25, 2022, AlThePal78)*/
input[type="checkbox"] {
    accent-color: var(--primary-color);
}

/* COLOR styles */
.inform-text {
    color: var(--primary-color);
}

.highlight-text {
    color: var(--highlight-color);
}

.danger {
    color: var(--danger-color);
}

.warning {
    color: var(--warn-color);
}

.primary-btn {
    background-color: var(--primary-color);
    color: white
}

.primary-btn:hover {
    background-color: var(--highlight-color);
    color: black;
}

.white-bg {
    background-color: rgb(255, 255, 255);
}

.grey-bg {
    background-color: rgb(145, 142, 142);
}

.crimson-bg {
    background-color: #bb002f;
}

.purple-bg {
    background-color: rgb(137, 0, 179);
}

.dark-blue-bg {
    background-color: #00026e;
}

.black-bg {
    background-color: #352e2e;
}

.dark-green-bg {
    background-color: #434E5E;
}

.yellow-bg {
    background-color: #e9de4b;
}


.hidden {
    display: none;
}

/* Social Media Icon styling  */
i.fa-github {
    color: #f8f8f8 !important;
}

i.fa-instagram {
    color: #d72888 !important;
}

i.fa-linkedin-in {
    color: #007bb6 !important;
}

i.fa-facebook {
    color: #1193f4 !important;
}

i.fa-youtube {
    color: #ff0000 !important;
}

/* Generic button styles */
#add-another-btn {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-style: dotted;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--primary-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#add-another-btn i {
    color: var(--primary-color);
    font-size: 1.5rem;
}

#next-btn {
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}



/* #next-btn {
    position: relative;
    display: inline-block;
    margin: 20px;
} */

/* #next-btn a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-color);
    display: block;
    position: relative;
    padding: 20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 navy;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 navy;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 navy;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main-btn a:active {
    top: 10px;
    background-color: #F78900;

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 var(--highlight-color);
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 var(--highlight-color);
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 var(--highlight-color);
}

#main-btn:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 */


.form-btn-div {

    display: flex;
    gap: 50px;
    margin: 50px 0;
}

.previous-btn {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #e9e9ed;
    border-radius: 5px;
    border: .5px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
}


.remove-form-btn {
    visibility: hidden;
    width: 200px;
    background-color: var(--danger-color);
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    /* For Smooth transition */
    transition: visibility 0.6s, opacity .7s;
    opacity: 0;
}

.showed-remove-btn {
    visibility: visible;
    opacity: 1;

}

.remove-form-btn:hover {
    background-color: #aa2121;
}



/* Font Awesome Icon styles */

i.fa-star {
    color: gold;
    font-size: 1.5rem;
}

.remove-form-btn i {
    color: var(--danger-color);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

/* Fade out animation (used in remove button of resume' sections forms */
#alert-box {


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 420px;
    min-height: 120px;
    max-width: fit-content;
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: column
}

#alert-overlay,
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
}

#alert-box {
    animation: fadeOut var(--alert-box-duration) ease-in;
    opacity: 0;
}

#alert-overlay {
    animation: fadeOut 2.5s ease-in;
    opacity: 0;
}


.fade-out {
    animation: fadeOut 0.3s ease-out;
    opacity: 0;
}

.fade-in {
    animation: fadeIn 0.3s ease-in;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/*  Style for Resume Preview  */
.resume-preview {
    transform: scale(.7);
    transform-origin: top;
    height: auto;

}

#profile-image-preview {
    width: 150px;
    border-radius: 50%;
}


#pv-city,
#pv-country {
    text-transform: capitalize;
}

#pv-profession {
    text-transform: capitalize;
}


/* Content generator feature Styles */

#content-generator-section {
    width: 700px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}

#content-generator-section .answers {
    display: grid;
    width: 550px;
    grid-template-columns: 60px auto;
    margin: 20px 0;
    border: 1px solid #b1abab;
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px 5px 0;
    text-align: justify;

}

#content-generator-section .answers button {
    background: none;
    border: none;

    font-size: 1.5rem;
}

#content-generator-section .answers:hover {

    cursor: pointer;
}

#content-generator-section .answers:hover i {
    color: var(--highlight-color);
}



#content-generator-section>* {

    margin: 15px 0;
}

#search-box {

    width: 80%;
    height: 40px;
    line-height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

#search-box~button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 0 10px;
}

#loading-placeholder {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;

}

#loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#search-box {
    width: 550px;
}

#result-box {
    list-style: none;
}