/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background-color: #333; */
    background-color: transparent;
    color: #fff;
}

nav .logo {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 80px;
}

nav .nav-links {
    list-style: none;
    display: flex;
}

nav .nav-links li {
    margin-left: 2rem;
}

nav .nav-links li button {
    outline: none;
    border: none;
    background: none;

}

nav .nav-links li button,
nav .nav-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

nav .nav-links a:hover {
    color: var(--highlight-color);
}


/* Mobile Menu Toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}



@media (max-width: 768px) {
    nav .nav-links {
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #333;
        justify-content: center;
        align-items: center;
        display: none;
    }

    nav .nav-links li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Show mobile menu when active */
nav .nav-links.active {
    display: flex;
}


/* Profile card styles */

#profile-card {
    display: none;
    position: absolute;
    top: 10%;
    right: 0;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    border: 1px solid #ffffff40;
    color: black;
    z-index: 999;
    background-color: white;
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.4);

}

#profile-card .image {
    position: relative;
    height: 150px;
    width: 150px;
}

#profile-card .image .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

#profile-card .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#profile-card .data h2 {
    font-size: 33px;
    font-weight: 600;
}

#profile-card span {
    font-size: 18px;
}

#profile-card .row {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#profile-card .row .info {
    text-align: center;
    padding: 0 20px;
}

#profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}



/* #profile-card .buttons .btn:hover {
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.4);
} */
#profile-btn.highlighted {
    color: var(--highlight-color);
}

#profile-card .btn {
    border: none;
    border-radius: 10px;
    border: rgb(20, 20, 220) 2px solid;
    background-color: #fff;
    color: rgb(20, 20, 200);
    padding: 1.5% 3%;
    font-size: 1em;
    transition: .2s ease-in-out all;
    box-shadow: rgba(20, 20, 200, 0.4) 3.5px 9px 0px;
    text-decoration: none;
    margin: 0 20px;
    padding: 8px 25px;
    border-radius: 25px;
    font-size: 18px;
    white-space: nowrap;
}

#profile-card .btn:hover {
    background-color: #fff;
    color: rgb(20, 20, 200);
    border: rgb(20, 20, 220) 2px solid;
    box-shadow: rgba(20, 20, 200, 0.4) 1px 3px 0px;
    transition: .2s ease-in-out all;
}

#profile-card #close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--danger-color);
    position: absolute;
    top: 10px;
    right: 15px;
}

#close-btn i::after {
    content: 'Closed?';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    white-space: nowrap;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
}

#close-btn i:hover::after {
    transform: translateX(-50%) scale(1);
    opacity: 1;
}