#summary-section {
    height: 100vh;
    display: flex;
    padding: 20px;
    justify-content: center;
    overflow: hidden;
}

#summary-forms-container {
    max-height: 60vh;
    overflow-y: auto;
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    box-sizing: border-box;
}



#summary-form {

    padding: 10px 0 10px 15px;

}

#summary-form>div {
    min-height: 75px;
}

#summary-form label {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

#summary-form>textarea {
    width: calc(var(--input-width) * 2.5);
    height: 220px;
    resize: none;
    font-family: Arial;
    padding: 10px 15px;
    line-height: 1.5rem;
    text-align: justify;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}