#template-section-title,
#template-section-subtitle {
    text-align: center;
}

#template-section-title {
    font-size: 2.5rem;
}

.template-section {
    height: 70vh;
    overflow: hidden;
}

 

.template-option div {
    margin: 10px;
}

/* color editor */

.color-container {
    display: grid;
    grid-template-columns: repeat(4, 25px);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.color-radio {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: .4px solid rgb(0, 0, 0);
    cursor: pointer;
}

.color-radio:hover {
    border: 3px solid var(--primary-color);
}

.headshot-radio div {
    display: block;
}

.template-editor {
    display: grid;
    grid-template-columns: 340px auto;
    justify-content: center;
    margin: 50px 0;
}




.template-card-container {

    display: grid;
    grid-template-columns: repeat(3, 300px);
    /* width: 940px; */
    height: 500px;
    gap: 80px;
}


.template-card {
    position: relative;
    width: 300px;
}

.resume-template {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.35);
    transform-origin: top left;
    transition: outline 0.3s ease-out;
}

.resume-template:hover {
    cursor: pointer;
    outline: 5px solid blue;
}

.resume-template.active {
    outline: 5px solid blue;
}


#resume-btn-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: absolute;
    bottom: 10%;
    right: 50px;
}