#work-exp-section {
    height: 100vh;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    overflow: hidden;
}

#work-exp-forms-container {
    max-height: 60vh;
    overflow-y: auto;
    width: 800px;
    padding: 20px;
 
    box-sizing: border-box;
}

.work-exp-form-wrapper {
    margin-bottom: 20px;
    position: relative;
}

.work-exp-form {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    width: 100%;
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: 3px 5px 5px 2px #b5a7a7;
}

.work-exp-form input {
    padding: 5px 10px;
}

.work-exp-form>div {
    min-height: 75px;
}

.work-exp-form input[type="text"],
.work-exp-form input[type="tel"],
.work-exp-form input[type="email"] {
    width: var(--input-width);
    height: 30px;
    display: block;
    padding: 5px 10px;
}


.work-exp-form .location-div input[type="text"] {
    width: calc(var(--input-width) * 2);
}

.work-exp-form .location-div {
    grid-column: span 2;
}


.work-exp-form .achievement-div,
.work-exp-form .date-div {
    grid-column: span 2;
    min-height: 50px;
}


.work-exp-form .date-div>div {
    display: inline-block;
    margin: 5px 20px 5px 0;
}

.work-exp-form .date-div input[type="date"] {
    width: 150px;
}


.work-exp-form textarea {
    width: calc(var(--input-width) * 2);
    height: 100px;
    resize: none;
    font-family: Arial;
}

 