{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/edu-section.css')}}">
{% endblock %}

{% block body %}
<!-- Progress Section -->
{% include 'components/progress-bar.html' %}
<!--End of Progress Section -->


<section id="edu-section" class="resume-section">
    <div id="edu-content">
        <h1>Awesome! Now, what qualifications do you have?</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">We suggest starting with your most recent period of education and working
                backward.</span>
        </div>

        <div id="edu-forms-container">
            <div class="edu-form-wrapper">
                <form class="edu-form">
                    <div>
                        <label for="degree">Degree</label>
                        <input type="text" name="degree" required>
                    </div>

                    <div>
                        <label for="school">Name of School/University</label>
                        <input type="text" name="school" required>
                    </div>
                    <div class="location-div">
                        <label for="location">Location</label>
                        <input type="text" name="location" required>
                    </div>
                    <div class="date-div">
                        <div>
                            <label for="start-date">Start Date</label>
                            <input type="date" name="start-date" required>
                        </div>

                        <div>
                            <label for="end-date">End Date</label>
                            <input type="date" name="end-date" id="end-date">
                        </div>

                        <input type="checkbox" name="is-studying" id="studying">
                        <label for="is-studying">I haven't graduated</label>
                    </div>

                </form>
            </div>

        </div>
        <div class="add-another-btn-div">
            <button id="add-another-btn" type="button"><i class="fas fa-plus-circle"></i> Add Another</button>
        </div>


        <div class="form-btn-div">
            <a class="previous-btn" href="/resume/section/heading">Previous</a>
            <button id="next-btn" type="button">Next</button>
        </div>
    </div>
    <div id="heading-preview">
    </div>
</section>

<script src="{{url_for('static',filename='js/edu-resume.js')}}">

</script>

{% endblock %}