{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/finalize-section.css')}}">
{% endblock %}

{% block body %}
<!-- Progress Section -->
{% include 'components/progress-bar.html' %}
<!--End of Progress Section -->


<section id="finalize-section" class="resume-section">
    <div id="finalize-content">
        <h1>Great work~, Hein Min Min Maw</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">Your Resume is looking good. We're just one step away from finalizing it! .</span>
        </div>

        <div id="language-forms-container">
            <div class="language-skill-form-wrapper">

            </div>


        </div>
        <div class="add-another-btn-div">
            <button id="add-another-btn" type="button"><i class="fas fa-plus-circle"></i> Add Language</button>
        </div>

        <div class="add-another-btn-div">
            <button id="add-social-media-btn" type="button"><i class="fas fa-plus-circle"></i> Add Social Media</button>
        </div>

        <div id="social-media-input-container" class="hidden">
            <form id="social-media-form">
                <div>
                    <div class="input-block">
                        <i class="fab fa-linkedin-in"> </i>
                        <label for="linkedIn">LinkedIn (Recommended)</label>
                        <input type="text" name="linkedIn" id="linkedIn">
                    </div>
                    <div class="input-block">
                        <i class="fa-solid fa-globe"></i>
                        <label for="porfolio">Profolio website link (Recommended)</label>
                        <input type="text" name="porfolio" id="porfolio">
                    </div>
                    <div class="input-block">
                        <i class="fab fa-facebook"> </i>
                        <label for="facebook">Facebook (Optional)</label>
                        <input type="text" name="facebook" id="facebook">
                    </div>
                </div>
                <div>
                    <div class="input-block">
                        <i class="fab fa-instagram"> </i>
                        <label for="instagram">Instagram (Optional)</label>
                        <input type="text" name="instagram" id="instagram">
                    </div>
                    <div class="input-block">
                        <i class="fab fa-github"> </i>
                        <label for="gitHub">GitHub (Optional)</label>
                        <input type="text" name="gitHub" id="gitHub">
                    </div>

                </div>
            </form>

        </div>
        <div class="form-btn-div">
            <a class="previous-btn" href="/resume/section/summary">Back</a>
            <button id="confirm-btn" class="primary-btn" type="button">Confirm</button>
        </div>
    </div>

    <div class="resume-preview" class="resume-preview">
    </div>
</section>


<div id="loading-overlay">
    <div class="spinner"></div>
    <p>Loading, please wait...</p>
</div>
<script src="{{url_for('static',filename='js/finalize-section.js')}}">

</script>
{% endblock %}