{% extends 'base.html' %}


{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/heading-section.css')}}">
{% endblock %}

{% block body %}
{% include 'components/progress-bar.html' %}

<!-- Heading Section -->
<section id="heading" class="resume-section">

    <div id="heading-content">
        <h1>What’s the best way for employers to contact you?</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">We suggest including an email and phone number.</span>
        </div>
        <form id="heading-form">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div id="profile-image-upload" style="display: none;">
                <img id="profile-image-preview"
                    src="{{url_for('static',filename='images/profile/default_profile.jpg')}}"
                    alt="Profile Image Preview">
                <div>
                    <label for="profile-image">Upload Profile</label>
                    <input type="file" id="profile-image" name="profile-image" accept="image/*">
                </div>
            </div>

            <div>
                <label for="profession">Profession</label>
                <input type="text" name="profession" id="profession" required>
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="city" required>
            </div>
            <div>
                <label for="country">Country</label>
                <input type="text" name="country" id="country" required>
            </div>
            <div>
                <label for="phone">Phone</label>
                <input type="tel" name="phone" id="phone">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="form-btn-div">
                <a class="previous-btn" href="/resume/select-template">Previous</a>

                <button id="next-btn" type="submit">Next</button>
            </div>
        </form>
    </div>
    <div id="heading-preview">

    </div>

</section>
<script src="{{url_for('static',filename='js/header-section.js')}}"></script>


{% endblock %}