{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/summary-section.css')}}">
{% endblock %}

{% block body %}
<!-- Progress Section -->
{% include 'components/progress-bar.html' %}
<!--End of Progress Section -->


<section id="summary-section" class="resume-section">
    <div id="summary-content">
        <h1>Great work, {{user.name}}</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">Your Resume is looking good. We're just one step away from finalizing it! .</span>
        </div>
        <div id="skill-forms-container">
            <form id="summary-form">
                <label for="summary">Summary</label>
                <textarea name="summary" id="summary"></textarea>
            </form>
        </div>


        <div class="form-btn-div">
            <a class="previous-btn" href="/resume/section/skill?template_id={{resume.template.id}}">Previous</a>
            <button id="next-btn" class="primary-btn" type="button">Next</button>
        </div>
    </div>

    <div class="resume-preview" class="resume-preview">
        {% if resume %}

        {% include resume.template.template_file_path %}

        {% endif %}
    </div>
</section>


<script src="{{url_for('static',filename='js/summary-section.js')}}">

</script>
{% endblock %}