{% extends 'base.html' %}

{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/summary-section.css')}}">
{% endblock %}

{% block body %}
<!-- Progress Section -->
{% include 'components/progress-bar.html' %}
<!--End of Progress Section -->


<section id="summary-section" class="resume-section">
    <div id="summary-content">
        <h1>Great work~, Hein Min Min Maw</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">Your Resume is looking good. We're just one step away from finalizing it! .</span>
        </div>



        <div class="form-btn-div">
            <a class="previous-btn" href="/resume/section/heading">Back</a>
            <button id="confirm-btn" class="primary-btn" type="button">Confirm</button>
        </div>
    </div>

    <div class="resume-preview" class="resume-preview">
    </div>
</section>


<div id="loading-overlay">
    <div class="spinner"></div>
    <p>Loading, please wait...</p>
</div>
<script src="{{url_for('static',filename='js/summary-section.js')}}">

</script>
{% endblock %}