{% extends 'base.html' %}


{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css')}}">

{% endblock %}

{% block body %}

{% include 'components/navbar.html' %}

<section class="template-section">
    <div class="template-content">
        <h1 id="template-section-title">Choose from our best templates</h1>
        <h4 id="template-section-subtitle">You can always <span class="highlight-text">change</span> your template
            later.</h4>
        <div class="template-editor">
            <div class="template-option">
                <div class="template-filter">
                    <label>Choose Color</label>
                    <div class="color-container">
                        <div class="color-radio dark-green-bg" data-color="#434E5E"></div>
                        <div class="color-radio grey-bg" data-color="#cccccc"></div>
                        <div class="color-radio crimson-bg" data-color="#bb002f"></div>
                        <div class="color-radio purple-bg" data-color="#800080"></div>

                        <div class="color-radio dark-blue-bg" data-color="#00026e"></div>
                        <div class="color-radio black-bg" data-color="#352e2e"></div>
                        <div class="color-radio dark-green-bg" data-color="#01502f"></div>
                        <div class="color-radio yellow-bg" data-color="#e9de4b"></div>
                    </div>
                    <div class="headshot-radio">
                        <h4>Headshot</h4>
                        <div>
                            <input type="radio" name="headshot" id="with-headshot" value="1" id="with-headshot" checked>
                            <label for="with-headshot">With Photo</label>
                        </div>
                        <div>
                            <input type="radio" name="headshot" id="without-headshot" value="0">
                            <label for="without-headshot">Without Headshot</label>
                        </div>
                    </div>
                </div>
            </div>

            {% if contents['resumes']|length > 0 %}
            <div class="template-card-container">
                {% for resume in contents['resumes'] %}
                {% set template_id = resume.template.id %}
         
                <div class="template-card">
                    <div id="{{ template_id }}"  onclick="selectTemplate('{{ template_id }}')"  class="resume-template">
                        {% include resume.template.template_file_path %}
                    </div>
                </div>
                {% endfor %}
            </div>

            {% else %}
            <p>No templates available.</p>
            {% endif %}
        </div>

        <div id="resume-btn-div">
            <button id="next-btn" class="primary-btn" onclick="cachedTemplateInfo()">Next</button>
        </div>
    </div>

</section>

<script src="{{url_for('static',filename='js/template-resume.js')}}">


</script>
{% endblock %}