{% extends 'base.html' %}


{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/template-uploader.css')}}">
<style>
    #template-upload-section {
        height: 55dvh;
    }
</style>
{% endblock %}

{% block body %}
{% include 'components/navbar.html' %}
<!-- Hero Section -->

<section id="template-upload-section">
    {% if contents%}
    {{ contents['message']}}
    {% endif %}

    <form method="POST" action="/template/upload" enctype="multipart/form-data">
        <h2>Resume Template Uploader</h2>
        <div>
            <label for="template_file">Upload your html resume template</label>
            <input type="file" name="template_file" id="template_file" accept=".html" required>

        </div>
        <div>
            <label for="svg_file">Upload your template SVG for tempalte showcase</label>
            <input type="file" name="svg_file" id="svg_file" accept=".svg" required>

        </div>
        <button type="submit">Submit</button>
    </form>

</section>
<script src="{{url_for('static',filename='js/navbar.js')}}"> </script>
{% endblock %}