{% extends 'base.html' %}

{% block title %}
<link id="theme-style" rel="stylesheet" href="{{url_for('static',filename='css/view-resume.css')}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


{% endblock %}

{% block body %}

{% if user.is_authenticated %}

<section id="resume-section" class="resume-section">

    <a href="/resumes/{{user.id}}" id="back-btn" class="button-cover" role="button"><span
            class="text">Back</span><span>Previous</span></a>

    {% if template_path %}
    <div id="resume-preview">
        {% include template_path %}
    </div>
    {% endif %}

</section>
{% endif %}

<script>

    document.addEventListener('DOMContentLoaded', function () {
        let resume = document.getElementById("resume-preview");
        const urlParams = new URLSearchParams(window.location.search);
        const isDownload = urlParams.get('download');
        const backBtn = document.getElementById("back-btn")


        if (isDownload) {
            backBtn.style.display = "none"
            downloadResume();
            backBtn.style.display = "block"
        }

        function downloadResume() {
            html2canvas(resume).then(function (canvas) {
                const imgData = canvas.toDataURL('image/png');
                console.log(resume.heig)
                const pdf = new jsPDF();
                const optimalWidth = 210;
                const optimaHeight = 315;

                let position = 0;
                pdf.addImage(imgData, 'PNG', 0, position, optimalWidth, optimaHeight);

                pdf.save("resume.pdf");
            });
        }
    });
</script>
{% endblock %}