{% extends 'base.html' %}


{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/work-exp-section.css')}}">
{% endblock %}

{% block body %}
{% include 'components/progress-bar.html' %}
<!-- Hero Section -->

<section id="work-exp-section" class="resume-section">

    <div id="work-exp-content">
        <h1>Awesome! Now, what qualifications do you have?</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">We suggest to start with your most recent period of education and work backwards.
            </span>
        </div>
        <div id="work-exp-forms-container">
            <div class="work-exp-form-wrapper">

            </div>

        </div>
        <div class="add-another-btn-div">
            <button id="add-another-btn" type="button"><i class="fas fa-plus-circle"></i> Add Another</button>
        </div>
        <div class="form-btn-div">
            <a class="previous-btn" href="/resume/section/education?template_id={{resume.template.id}}">Previous</a>
            <button id="next-btn" class="primary-btn" type="button">Next</button>
        </div>
    </div>
    <div id="content-generator-section">
        <h2>AI Content Generator</h2>
        <h4>Specify the desired position</h4>

        <div>
            <input type="text" name="work-exp-search" id="work-exp-search" placeholder=" full-stack developer">
            <button onclick="getContent('work expereience')">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <h4 style="margin:15px 0">Recommendations</h4>
            <ul id="result-box">
                <li class="answers">
                    <button onclick="addItem"><i class="fa-solid fa-circle-plus"></i></button>
                    <p id="answer1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis amet laboriosam in
                        deleniti nostrum accusantium hic at! Sint facilis dignissimos, rerum maxime provident eaque
                        fugit? Nisi perferendis quo temporibus adipisci?</p>
                </li>
            </ul>
        </div>

    </div>

</section>

<script src="{{url_for('static',filename='js/work-exp-section.js')}}">

</script>
<script>
    function getContent(section) {

        let input = document.getElementById("work-exp-search");
        let position = input.value
        if (!section || !position) {
            input.ariaPlaceholder = "Please describe your profession. E.g Full-stack developer";
            return
        }

        const createResumeRequest = fetch('/contents/generate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                section,
                profession: position,
            })
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errorText => {
                        throw new Error(errorText || 'Unknown error occurred');
                    });
                }
                return response.json();
            })
            .catch(error => {

                console.error('Error:', error.message);

            })
            .then(data => {
                console.log('Response Data:', data.result);

                // document.getElementById('result-box').textContent = data.result;
            });

        console.log(Response)
        console.log(createResumeRequest)


    }
    function addItem() {

    }
</script>
{% endblock %}