{% extends 'base.html' %}


{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/work-exp-section.css')}}">
{% endblock %}

{% block body %}
{% include 'components/progress-bar.html' %}
<!-- Hero Section -->

<section id="work-exp-section" class="resume-section">

    <div id="work-exp-content">
        <h1>Awesome! Now, what qualifications do you have?</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">We suggest to start with your most recent period of education and work backwards.
            </span>
        </div>
        <div id="work-exp-forms-container">
            <div class="work-exp-form-wrapper">
                
            </div>

        </div>
        <div class="add-another-btn-div">
            <button id="add-another-btn" type="button"><i class="fas fa-plus-circle"></i> Add Another</button>
        </div>
        <div class="form-btn-div">
            <a class="previous-btn" href="/resume/section/education?template_id={{resume.template.id}}">Previous</a>
            <button id="next-btn" class="primary-btn" type="button">Next</button>
        </div>
    </div>
    <div id="heading-preview" class="resume-preview">

    </div>

</section>

<script src="{{url_for('static',filename='js/work-exp-section.js')}}">

</script>
{% endblock %}