{% extends 'base.html' %}


{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hero-section.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/progress-bar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/work-exp-section.css')}}">
{% endblock %}

{% block body %}
{% include 'components/progress-bar.html' %}
<!-- Hero Section -->

<section id="work-exp-section" class="resume-section">

    <div id="work-exp-content">
        <h1>Awesome! Now, what qualifications do you have?</h1>
        <div class="section-suggestion">
            <i class="fas fa-star"></i>
            <span class="suggestion">We suggest to start with your most recent period of education and work backwards. </span>
        </div>
        <form id="work-exp-form">
            <div>
                <label for="degree">Degree</label>
                <input type="text" name="degree" id="degree" required>
            </div>

            <div>
                <label for="school">Name of School/University</label>
                <input type="text" name="school" id="school" required>
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" name="location" id="location" required>
            </div>
            <div>
                <input type="date" name="start-date" id="star-date" required>
            </div>
            <div>
                <input type="date" name="end-date" id="end-date">
            </div>
            <label for="is-working">is </label>
            <input type="checkbox" name="is-working" id="is-working">
           <div>

           </div>

            <div class="form-btn-div">
                <a class="previous-btn" href="/resume/section/education">Previous</a>

                <button id="next-btn" type="submit">Next</button>
            </div>
        </form>
    </div>
    <div id="heading-preview">

    </div>

</section>

{% endblock %}