<nav>
    <div class="logo">Resume<span class="logo-text highlight-text">Builder</span></div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="/profile">Profile</a></li>
        {% else %}
        {% if not hide_signup_btn %}
        <li><a href="/signup">Sign Up</a></li>
        {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>