<nav>
    <div class="logo">Resume<span class="logo-text highlight-text">Builder</span></div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        {% if user.is_authenticated %}
        <li><button id="profile-btn">Profile </button></li>
        {% else %}
        {% if not hide_signup_btn %}
        <li><a href="/signup">Sign Up</a></li>
        {% endif %}
        {% endif %}
    </ul>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    {% if user.is_authenticated %}
    <div id="profile-card">
        <a href="/profile" id="edit-btn"> <i class="fa-solid fa-pen-to-square"></i></a>

        <button id="close-btn"><i class="fa-regular fa-circle-xmark"></i></button>

        <div class="image">
            {% if user.profile_path %}
            <img class="profile-pic" src="{{ url_for('static', filename='images/profile/' + user.profile_path) }}">
            {% else %}
            <img class="profile-pic" src="{{ url_for('static', filename='images/profile/default_profile.jpg') }}">
            {% endif %}
        </div>
        <div class="data">
            <h2>{{user.name}}</h2>
            <span>{{user.email}}</span>
        </div>
        <div class="row">
            <div class="info">
                <h3>Resume</h3>
                <span>120</span>
            </div>

            <div class="info">
                <h3>User Type</h3>
                <span>Sliver</span>
            </div>
        </div>
        <div class="buttons">

            <a href="/resumes/{{user.id}}" class="btn">My Resume</a>
            <a href="/logout" class="btn">Logout</a>

        </div>
    </div>
    {% endif %}
</nav>