<div id="progress-bar-container">
    <a class="step" href="/resume/section/heading?template_id={{resume.template.id}}">
        <div class="step-number">1</div>
        <div class="step-label">Heading</div>
    </a>
    <a class="step" href="/resume/section/education?template_id={{resume.template.id}}">
        <div class="step-number">2</div>
        <div class="step-label">Education</div>
    </a>
    <a class="step" href="/resume/section/work_experience?template_id={{resume.template.id}}">
        <div class="step-number">3</div>
        <div class="step-label">Work Experience</div>
    </a>
    <a class="step" href="/resume/section/skill?template_id={{resume.template.id}}">
        <div class="step-number">4</div>
        <div class="step-label">Skill</div>
    </a>
    <a class="step" href="/resume/section/summary?template_id={{resume.template.id}}">
        <div class="step-number">5</div>
        <div class="step-label">Summary</div>
    </a>
    <a class="step" href="/resume/section/finalize?template_id={{resume.template.id}}">
        <div class="step-number">6</div>
        <div class="step-label">Finalize</div>
    </a>
</div>